@charset "utf-8";
/* 나눔명조, 프리텐다드 */
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
html, body {
    font-size: 62.5%; /* font-size:10px -> 1rem -> ⭐⭐폰트나 여백에 사용하는게 좋을 듯 */
    color: #333;
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    line-height: 1;
}
h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    font-size: 2.3rem;
    margin-bottom: 3rem;
}
.inner {
    max-width: 1360px;
    width: calc(100% - 40px);
    margin: 18rem auto; /* margin: 180px auto */
}

.mobile {
    display: none;
}
@media screen and (max-width: 1024px) {
    .mobile {
        display: block;
    }
    .pc {
        display: none;
    }
}